:root{
    --bg:#040404;
    --text:#e9e9e9;
    --muted:#a9a9a9;
    --accent:#dcdcdc;
}

body{
    margin:0;
    background:var(--bg);
    color:var(--text);
    font-family: 'VT323', monospace;
    display:flex;
    align-items:center;
    justify-content:center;
}

.screen{
    width:100%;
    max-width:70%;
    height:92vh;
    padding:28px 20px;
    box-sizing:border-box;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:18px;
}

h1{
    margin-top:18px;
    font-family:'VT323', monospace;
    font-size:40px;
    letter-spacing:2px;
    text-align:center;
    color:var(--text);
    text-shadow:0 0 6px rgba(255,255,255,0.02);
}

.question{
    width:100%;
    margin-top:6vh;
    text-align:center;
    color:var(--muted);
    font-size:28px;
    line-height:1.6;
    opacity:0.95;
}

.choices{
    margin-top:8vh;
    max-width:420px;
    width:100%;
    display:flex;
    justify-content:space-between;
    gap:18px;
    padding:0 10px;
}

.btn{
    flex:1 1 0;
    border:2px solid rgba(255,255,255,0.06);
    background:transparent;
    padding:14px 12px;
    font-family:'VT323', monospace;
    font-size:28px;
    letter-spacing:1px;
    color:var(--muted);
    text-align:center;
    cursor:pointer;
    border-radius:6px;
}

#backBtn {
    position: fixed;
    top: 5px;
    left: 5px;
    padding: 3px 6px;
    font-size: 10px;
    border: 1px solid #040404;
    background: #040404;
    color: #a9a9a9;
    cursor: pointer;
}


@media (max-width:420px){
    .screen{max-width:90%}
    h1{font-size:22px}
    .question{font-size:14px}
    .btn{padding:12px 8px}
}